body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 36px;
    display: grid;
    place-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    margin-top: 20px;
}

.wordle_grid {
    display: grid;
    grid-template-columns: repeat(5, 50px); 
    grid-template-rows: repeat(6, 50px);    
    gap: 5px;                               
    justify-content: center;                
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    line-height: 50px;      
    background-color: white;          
}

.enter_guess_box {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.centered_placeholder {
    text-align: center;
}

.new_game_button {
    display: none;
}

.used_letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
    margin-top: 20px;
    max-width: 300px;
}

.letter_square {
    width: 30px;
    height: 50px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 50px;      
    background-color: white;
}
